<h1>Liste Soirées
<%= @evenings.count %>
</h1>


<% if current_user == true %>
 <a href="/evenings/new" class="btn btn-info">créer soirée new</a>
<% end %>

<br>
<br>

<% @evenings.each do |evening|%>
  <div class="panel panel-primary">
   <ul class="list-unstyled">
    <li ><%= evening.nom%></li>
    <li ><%= evening.date%></li>
    <li ><%= evening.type%></li>
    <li ><%= evening.description%></li>
    <li ><%= evening.prix %>€</li>
    <li ><%= evening.lieux%></li>
    <li ><%= evening.id%></li>
  </ul>
</div>
<%= link_to "Voir la soirée", evening_path(evening.id), class: "btn btn-default"%>
<br>
<br>
<hr>
<% end %>