<h1>Votre Soirée</h1>
 
 <div class="caption">
  	<ul class="list-unstyled">
	    <li ><%= @evening.name%></li>
	    <li ><%= @evening.date%></li>
	    <li ><%= @evening.type%></li>
	    <li ><%= @evening.description%></li>
	    <li ><%= @evening.price %>€</li>
	    <li ><%= @evening.adress%></li>
	    <li ><%= @evening.id%></li>
		</ul>
		<%= link_to "Retour", root_path, class: "btn  btn-primary" %>
	</div>  	